@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../img/tasks-background.jpg') no-repeat center center/cover;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: -1;
}

.box {
    width: 550px;
    padding: 50px;
    background: #2f363e;
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}

h2 {
    text-align: center;
    color: #fff;
    font-size: 1.75em;
    margin-bottom: 15px;
}

#inputBX {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    font-size: 1em;
    outline: none;
    background: #1f2833;
    color: #fff;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#list {
    margin-top: 20px;
    max-height: 400px;
    overflow-y: auto;
    padding-right: 10px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #1f83f2, #0d47a1);
    padding: 15px;
    border-radius: 12px;
    color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    transition: 0.5ms linear;
}

.task-item:hover {
    background: linear-gradient(135deg, #0d47a1, #1f83f2)
}

.task-item.done {
    background: linear-gradient(135deg, #607d8b, #455a64);
    text-decoration: line-through;
    opacity: 0.7;
}

.buttons {
    display: flex;
    gap: 10px;
}

.complete-btn {
    background: #4caf50;
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.complete-btn:hover {
    background: #388e3c;
}

.delete {
    width: 30px;
    height: 30px;
    background: #ff2c74;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    position: relative;
}

.delete:hover {
    background: #d81b60;
}

.delete::before, .delete::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    background: #fff;
}

.delete::before {
    transform: rotate(45deg);
}

.delete::after {
    transform: rotate(-45deg);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #fff;
}