<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gerenciador de Tarefas</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>

    <div class="background">

        <div class="content">
            <div class="card">
                <h2>NeoTask</h2>
                <p>Manage your tasks quickly and intuitively</p>
                <div class="buttons">
                    <a href="/login" class="btn">Iniciar Sessão</a>
                    <a href="/register" class="btn">Criar Conta</a>
                </div>
            </div>
        </div>

        <footer class="footer">
            <p>&copy; 2025 Gerenciador de Tarefas. Todos os direitos reservados.</p>
        </footer>
    </div>

</body>
</html>