<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="/static/css/home.css">

    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
</head>
<body>

    <div class="background">
        <header>
            <!-- <h1>Task Manager</h1> -->
        </header>

        <main class="content">
            <section class="card">
                <h2>Task Manager</h2>
                <p>Organize and manage your tasks</p>
                <div class="buttons">
                    <a class="btn" href="/login">Login</a>
                    <a class="btn" href="/register">Create Account</a>

                    <!-- <p class="rights">&copy; 2025 Task Manager. Todos os direitos reservados.</p> -->
                </div>
            </section>

            <section class="code-team">
                <h3>Development Team</h3>
                <ul>
                    <li>Tiago Vilhena (Nº26) - Backend, Database</li>
                    <li>Ricardo Palma (Nº22) - Frontend</li>
                    <li>Afonso Barreto (Nº1) - Frontend</li>
                    <li>Rodrigo Caço (Nº DESCONHECIDO) - Gambling</li>
                </ul>
            </section>
        </main>
    </div>

</body>
</html>
