<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tasks.css') }}">
</head>

<body>
    <div class="container">
        <div class="box">
            <h2>To Do List</h2>
            <input type="text" placeholder="Enter a new task..." id="inputBX">
            <ul id="list">
                {% for task in tasks %}
                    <li data-id="{{ task.id }}" class="task-item {% if task.completed %}done{% endif %}">
                        <span class="task-text">{{ task.description }}</span>
                        <div class="buttons">
                            <button class="complete-btn">✔</button>
                            <button class="delete">❌</button>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
